.container {
    background: darkgrey;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}


.card {
    height: 450px;
    width: 300px;
    background: silver;
    position: relative;
    border: solid black;

}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    border: solid black;
    position: relative;
    bottom: 40px;
    margin-left: 100px;
    background: silver;
}

.icon {
    font-size: 50px;
    color: cadetblue;
}

.text {
    font-size: 45px;
    height: 100px;
    align-items: end;
    display: flex;
    justify-content: center;
}

.text2 {
    box-sizing: border-box;
    display: flex;
    padding: 40px;
    text-align: center;
    font-size: 25px;
    font-family: Arial;
}

.space {
    display: flex;

}


.thirdpart {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    font-family: Arial;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border: solid black;
    justify-content: center;
    align-items: center;
}